body {
    font-family: Arial, sans-serif;
    background-color: #f0f7ff;
    margin: 0;
    padding: 0;
  }
  
  footer {
    background-color: #00539f;
    color: #ffffff;
    padding: 20px;
    text-align: center;
  }
  
  .column {
    float: left;
    padding: 5px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .fa {
    padding: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-github {
    background: black;
    color: white;
  }
  
  .right_header {
      float: right;
  }

  #intro
  {
    /*width:100vw; 
    height:100vh;*/
  }

  #intro-text
  {
    position: relative;
    top: 150px;
    /*left: 20px;*/
  }

  #headshot
  {
    
  }
